This is the {{ num2words(post_number, ordinal=True) }} in a series of several posts on how to manage `ssh` via Ansible. It was inspired by [a warning from Venafi](https://www.venafi.com/blog/ssh-keys-lowest-cost-highest-risk-security-tool) that gained traction in the blogosphere (read: my Google feed for two weeks). I don't know many people that observe good `ssh` security, so my goal is to make it more accessible and (somewhat) streamlined.
