<p class="nav-p"><a id="post-nav"></a></p>

<!-- markdown_toclify -->

{% include 'includes/series.j2' %}

{% include 'includes/code.j2' %}
{% if post_number > 1 %}

{% include 'includes/note.j2' %}
{% endif %}
