## Note

The first post has [a quick style section](//blog.wizardsoftheweb.pro/sensible-ssh-with-ansible-overview#note) that might be useful.

If you're using Vagrant on Windows with Hyper-V, there's a good chance you'll need to append `--provider=hyperv` to any `vagrant up` commands. If you're not sure, don't worry. Windows will be very helpful and crash with a BSOD (technically green now) if you use the wrong provider. The first post has [more information](//blog.wizardsoftheweb.pro/sensible-ssh-with-ansible-overview#windows) on this useful feature.
{% if post_number > 2 %}

I'm still fairly new to Ansible, so if something is horribly wrong, please let me know and I'll fix it ASAP. I've tried to follow [the best practices](http://docs.ansible.com/ansible/latest/playbooks_best_practices.html). I still don't know what I don't know about Ansible, so the code might change drastically from post to post as I discover new things.
{% endif %}
