## The Series so Far

1. [Overview](//blog.wizardsoftheweb.pro/sensible-ssh-with-ansible-overview)
{# 2. [Creating the Status Quo](//blog.wizardsoftheweb.pro/sensible-ssh-with-ansible-vagrant-setup)
3. [Populating the Status Quo](//blog.wizardsoftheweb.pro/sensible-ssh-with-ansible-ansible-setup)
 #}
