{% from 'includes/include_file.j2' import include_file %}
{% from 'includes/github_path.j2' import github_path %}
{% from 'includes/insert_bash.j2' import insert_bash %}
{% from 'includes/shell_block.j2' import shell_block %}
{% include 'includes/intro.j2' %}

{% block lead_paragraph %}{% endblock %}

{% include 'includes/introduction.j2' %}

{% block content %}{% endblock %}
