{% from 'includes/include_file.j2' import include_file %}
{% from 'includes/github_path.j2' import github_path %}
{% include 'includes/intro.j2' %}

{% block lead_paragraph %}{% end block %}

{% include 'includes/introduction.j2' %}

{% block content %}{% end block %}
